$colors: (
  pry-txt-clr: hsl(0, 0%, 10%),
  sec-txt-clr: hsl(0, 0%, 0%),
  pry-txt-clr-inv: hsl(0, 0%, 90%),
  sec-txt-clr-inv: hsl(0, 0%, 100%),
  pry-bg-clr: hsl(24, 100%, 50%),
  sec-bg-clr: hsl(24, 100%, 30%),
  accent-clr: rgb(7, 82, 22),
);
